.header-item-bg {
  background-color: black;
}

.nav-info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;

  .nav-item {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  a {
    color: white;
    line-height: 40px;
    font-size: 14px;
    transition: all 0.5s;
    text-decoration: none;

    &:hover {
      color: #1bbc9b;
      cursor: pointer;
    }
  }
}

.header-item-link {
  background-color: #292929;
}

.nav-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  padding: 15px 0;

  .nav-item {}

  a {
    text-decoration: none;
    padding: 5px 10px;
    font-size: 16px;
    transition: 0.2s;
    border-radius: 10px;

    &:hover {
      color: #1bbc9b;
      cursor: pointer;
    }
  }

  .motorsfy-logo {
    text-transform: uppercase;
    font-weight: 800;
    font-size: 22px;

    .motorsfy-logo-decorator {
      text-decoration: overline;
      text-decoration-color: red;
    }
  }
}