.brands-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;

  .brands-items {
    text-align: center;
    max-width: calc(100% / 8);
    flex: 0 0 calc(100% / 8);
    padding-top: calc(48px / 2);
    padding-bottom: calc(48px / 2);
  }
}
