.comments-container {
  border-top: 1px solid silver;
  border: 1px solid var(--color-border, rgba(0, 0, 0, 0.1));
  border-radius: 8px;
  padding: 8px;
  width: calc(100% + 16px);
  margin-left: -8px;
  display: flex;
  align-items: center;
}

.comment-user {
  box-sizing: border-box;
  border-radius: 32px;
  background: rgb(255, 205, 41);
  mix-blend-mode: normal;
  overflow: hidden;
  position: relative;
  width: 32px;
  height: 32px;
  padding: 8px;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;

  .letter {
    display: flex;
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: -0.144px;
    line-height: 24px;
    text-align: center;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    flex-shrink: 0;
  }

  .background {
    position: absolute;
    pointer-events: none;
    inset: 0px;
    border-radius: 32px;
    box-shadow: rgb(0 0 0 / 10%) 0px 0px 0px 1px inset;
  }
}

.comments-commentsInput {
  height: 32px;
  width: calc(100% - 117px);
  padding: 0 12px;
  border: none;
  outline: none;
}

.comments-button {
  background-color: var(--color-icon-disabled, rgba(0, 0, 0, 0.3));
}
